.App {
  width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px 25%;
border-radius: 10px;
box-shadow: 0px 20px 50px rgba(0,0,0,0.2);
background: white;

}
body{
  
}
